<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/articulos.css">
</head>
<body>
     <div class="productos-container">
        <div class="producto">
            <img src="/articulos/1.jpg" alt="Producto 1">
            <h2>NN-nn</h2>
            <p>Precio: $654000.99</p>
            <button class="mostrar-detalles">Mostrar detalles</button>
            <div class="detalles-hidden">
                <p>Detalles: super practico.</p>
            </div>
            <div class="container">
                <form action="/ventas" method="post" id="miFormulario">
                    <input type="hidden" name="nombre" value="NN-nn">
                    <input type="hidden" name="imagen" value="/articulos/1.jpg">
                    <input type="hidden" name="precio" value="654000.99">
                    <div class="text-center">
                        <button type="submit" class="agregar-al-carrito">Agregar al carrito</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="producto">
            <img src="/articulos/2.jpg" alt="Producto 2">
            <h2>ll M-50</h2>
            <p>Precio: $254000.99</p>
            <button class="mostrar-detalles">Mostrar detalles</button>
            <div class="detalles-hidden">
                <p>Detalles: oferta inperdible.</p>
            </div>
            <div class="container">
                <form action="/ventas" method="post" id="miFormulario">
                    <input type="hidden" name="nombre" value="ll M-50">
                    <input type="hidden" name="imagen" value="/articulos/2.jpg">
                    <input type="hidden" name="precio" value="254000.99">
                    <div class="text-center">
                        <button type="submit" class="agregar-al-carrito">Agregar al carrito</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="producto">
            <img src="/articulos/3.jpg" alt="Producto 3">
            <h2>CASI</h2>
            <p>Precio: $554000.99</p>
            <button class="mostrar-detalles">Mostrar detalles</button>
            <div class="detalles-hidden">
                <p>Detalles: Buen rendimiento.</p>
            </div>
            <div class="container">
                <form action="/ventas" method="post" id="miFormulario">
                    <input type="hidden" name="nombre" value="CASI">
                    <input type="hidden" name="imagen" value="/articulos/3.jpg">
                    <input type="hidden" name="precio" value="554000.99">
                    <div class="text-center">
                        <button type="submit" class="agregar-al-carrito">Agregar al carrito</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="producto">
            <img src="/articulos/4.jpg" alt="Producto 4">
            <h2>lu-CK</h2>
            <p>Precio: $3385679.99</p>
            <button class="mostrar-detalles">Mostrar detalles</button>
            <div class="detalles-hidden">
                <p>Detalles: Gran capacidad de resistencia.</p>
            </div>
            <div class="container">
                <form action="/ventas" method="post" id="miFormulario">
                    <input type="hidden" name="nombre" value="lu-CK">
                    <input type="hidden" name="imagen" value="/articulos/4.jpg">
                    <input type="hidden" name="precio" value="3385679.99">
                    <div class="text-center">
                        <button type="submit" class="agregar-al-carrito">Agregar al carrito</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="productos-container">
        <div class="producto">
            <img src="/articulos/5.jpg" alt="Producto 5">
            <h2>BB-OL</h2>
            <p>Precio: $546567.99</p>
            <button class="mostrar-detalles">Mostrar detalles</button>
            <div class="detalles-hidden">
                <p>Detalles: Gamma media</p>
            </div>
            <div class="container">
                <form action="/ventas" method="post" id="miFormulario">
                    <input type="hidden" name="nombre" value="BB-OL">
                    <input type="hidden" name="imagen" value="/articulos/5.jpg">
                    <input type="hidden" name="precio" value="546567.99">
                    <div class="text-center">
                        <button type="submit" class="agregar-al-carrito">Agregar al carrito</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="producto">
            <img src="/articulos/6.jpg" alt="Producto 5">
            <h2>Oso-pp</h2>
            <p>Precio: $696567.99</p>
            <button class="mostrar-detalles">Mostrar detalles</button>
            <div class="detalles-hidden">
                <p>Detalles: Alta gammma.</p>
            </div>
            <div class="container">
                <form action="/ventas" method="post" id="miFormulario">
                    <input type="hidden" name="nombre" value="Oso-pp">
                    <input type="hidden" name="imagen" value="/articulos/6.jpg">
                    <input type="hidden" name="precio" value="696567.99">
                    <div class="text-center">
                        <button type="submit" class="agregar-al-carrito">Agregar al carrito</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="producto">
            <img src="/articulos/7.jpg" alt="Producto 7">
            <h2>COCO</h2>
            <p>Precio: $557567.99</p>
            <button class="mostrar-detalles">Mostrar detalles</button>
            <div class="detalles-hidden">
                <p>Detalles: Ultra  clase.</p>
            </div>
            <div class="container">
                <form action="/ventas" method="post" id="miFormulario">
                    <input type="hidden" name="nombre" value="COCO">
                    <input type="hidden" name="imagen" value="/articulos/7.jpg">
                    <input type="hidden" name="precio" value="557567.99">
                    <div class="text-center">
                        <button type="submit" class="agregar-al-carrito">Agregar al carrito</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="producto">
            <img src="/articulos/8.jpg" alt="Producto 5">
            <h2>mike-98</h2>
            <p>Precio: $967567.99</p>
            <button class="mostrar-detalles">Mostrar detalles</button>
            <div class="detalles-hidden">
                <p>Detalles: Muy resistente a golpes.</p>
            </div>
            <div class="container">
                <form action="/ventas" method="post" id="miFormulario">
                    <input type="hidden" name="nombre" value="mike-98">
                    <input type="hidden" name="imagen" value="/articulos/8.jpg">
                    <input type="hidden" name="precio" value="967567.99">
                    <div class="text-center">
                        <button type="submit" class="agregar-al-carrito">Agregar al carrito</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<script src="/js/articulo.js"></script>
</body>
</html>