<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/productos.css">
</head>

<body>
    <div class="productos-container">
        <div class="producto">
            <img src="/guitarras/1.jpg" alt="Producto 1">
            <h2>gol M-50</h2>
            <p>Precio: $954000.99</p>
            <button class="mostrar-detalles">Mostrar detalles</button>
            <div class="detalles-hidden">
                <p>Detalles: Alta calidad de sonido.</p>
            </div>
            <div class="container">
                <form action="/ventas" method="post" id="miFormulario">
                    <input type="hidden" name="nombre" value="gol M-50">
                    <input type="hidden" name="imagen" value="/guitarras/1.jpg">
                    <input type="hidden" name="precio" value="954000.99">
                    <div class="text-center">
                        <button type="submit" class="agregar-al-carrito">Agregar al carrito</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="producto">
            <img src="/guitarras/2.jpg" alt="Producto 2">
            <h2>git M-50</h2>
            <p>Precio: $754000.99</p>
            <button class="mostrar-detalles">Mostrar detalles</button>
            <div class="detalles-hidden">
                <p>Detalles: sin trastes.</p>
            </div>
            <div class="container">
                <form action="/ventas" method="post" id="miFormulario">
                    <input type="hidden" name="nombre" value="git M-50">
                    <input type="hidden" name="imagen" value="/guitarras/2.jpg">
                    <input type="hidden" name="precio" value="754000.99">
                    <div class="text-center">
                        <button type="submit" class="agregar-al-carrito">Agregar al carrito</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="producto">
            <img src="/guitarras/3.jpg" alt="Producto 3">
            <h2>lol o-70</h2>
            <p>Precio: $654000.99</p>
            <button class="mostrar-detalles">Mostrar detalles</button>
            <div class="detalles-hidden">
                <p>Detalles: Buen rendimiento.</p>
            </div>
            <div class="container">
                <form action="/ventas" method="post" id="miFormulario">
                    <input type="hidden" name="nombre" value="lol o-70">
                    <input type="hidden" name="imagen" value="/guitarras/3.jpg">
                    <input type="hidden" name="precio" value="654000.99">
                    <div class="text-center">
                        <button type="submit" class="agregar-al-carrito">Agregar al carrito</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="producto">
            <img src="/guitarras/4.jpg" alt="Producto 4">
            <h2>luy -7</h2>
            <p>Precio: $8885679.99</p>
            <button class="mostrar-detalles">Mostrar detalles</button>
            <div class="detalles-hidden">
                <p>Detalles: Buena maderas.</p>
            </div>
            <div class="container">
                <form action="/ventas" method="post" id="miFormulario">
                    <input type="hidden" name="nombre" value="luy -7">
                    <input type="hidden" name="imagen" value="/guitarras/4.jpg">
                    <input type="hidden" name="precio" value="8885679.99">
                    <div class="text-center">
                        <button type="submit" class="agregar-al-carrito">Agregar al carrito</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="productos-container">
        <div class="producto">
            <img src="/guitarras/5.webp" alt="Producto 5">
            <h2>loto-B</h2>
            <p>Precio: $786567.99</p>
            <button class="mostrar-detalles">Mostrar detalles</button>
            <div class="detalles-hidden">
                <p>Detalles: Detalles de lujo</p>
            </div>
            <div class="container">
                <form action="/ventas" method="post" id="miFormulario">
                    <input type="hidden" name="nombre" value="loto-B">
                    <input type="hidden" name="imagen" value="/guitarras/5.webp">
                    <input type="hidden" name="precio" value="786567.99">
                    <div class="text-center">
                        <button type="submit" class="agregar-al-carrito">Agregar al carrito</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="producto">
            <img src="/guitarras/6.jpg" alt="Producto 5">
            <h2>otto-C</h2>
            <p>Precio: $996567.99</p>
            <button class="mostrar-detalles">Mostrar detalles</button>
            <div class="detalles-hidden">
                <p>Detalles: totalmente practica.</p>
            </div>
            <div class="container">
                <form action="/ventas" method="post" id="miFormulario">
                    <input type="hidden" name="nombre" value="otto-C">
                    <input type="hidden" name="imagen" value="/guitarras/6.jpg">
                    <input type="hidden" name="precio" value="996567.99">
                    <div class="text-center">
                        <button type="submit" class="agregar-al-carrito">Agregar al carrito</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="producto">
            <img src="/guitarras/7.jpg" alt="Producto 5">
            <h2>don-7</h2>
            <p>Precio: $667567.99</p>
            <button class="mostrar-detalles">Mostrar detalles</button>
            <div class="detalles-hidden">
                <p>Detalles: Sonido ultra.</p>
            </div>
            <div class="container">
                <form action="/ventas" method="post" id="miFormulario">
                    <input type="hidden" name="nombre" value="don-7">
                    <input type="hidden" name="imagen" value="/guitarras/7.jpg">
                    <input type="hidden" name="precio" value="667567.99">
                    <div class="text-center">
                        <button type="submit" class="agregar-al-carrito">Agregar al carrito</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="producto">
            <img src="/guitarras/8.jpg" alt="Producto 5">
            <h2>mik-9</h2>
            <p>Precio: $867567.99</p>
            <button class="mostrar-detalles">Mostrar detalles</button>
            <div class="detalles-hidden">
                <p>Detalles: Muy resistente a golpes.</p>
            </div>
            <div class="container">
                <form action="/ventas" method="post" id="miFormulario">
                    <input type="hidden" name="nombre" value="mik-9">
                    <input type="hidden" name="imagen" value="/guitarras/8.jpg">
                    <input type="hidden" name="precio" value="867567.99">
                    <div class="text-center">
                        <button type="submit" class="agregar-al-carrito">Agregar al carrito</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/js/producto.js"></script>
</body>

</html>